<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css?v=c9e3994900feda5d19e2dcf2a176b3bd83a1e6a0" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}?v=c9e3994900feda5d19e2dcf2a176b3bd83a1e6a0">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}?v=c9e3994900feda5d19e2dcf2a176b3bd83a1e6a0">
</head>
